@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

*{
	margin: 0;
	padding: 0;
}
html{
	background: #f9f9f9;
}
body{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
input[type="submit"], input[type="button"]{
	cursor: pointer;
}
.panel > a{
	position: relative;
	float: left;
	margin: 16px 0 0 25px;
	font-size: 36px;
	font-weight: 300;
	color: #565a69;
	display: block;
	width: calc(100% - 25px);
}
nav{
	position: relative;
    margin: 65px 0 0 0;
    float: left;
    width: 100%;
}
nav a{
	display: inline-block;
	width: calc(100% - 25px);
	height: 57px;
	line-height: 57px;
	background: #ff3b50;
	color: #fff;
	padding: 0 0 0 25px;
}
.wrapper{
	width: calc(100% - 270px);
	height: 100vh;
	left: 270px;
	position: relative;
	float: left;
}
.panel{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 270px;
	background: #2b2f3e;
}
.items, .comments{
	position: relative;
	float: left;
	box-shadow: 2px 2px 2px #adadad;
	background: #fff;
	border: 1px solid #dedede;
}
.items{
	width: calc(52% - 70px);
	margin: 20px 18px 20px 30px;
	padding: 0 15px 0 30px;
	position: relative;
	min-height: 525px;
}
.items input{
	height: 37px;
	border-radius: 3px;
}
.items .heading{
	margin-bottom: 15px;
}
.items input[type="text"]{
	height: 35px;
	border: 1px solid #bdccd4;
	padding: 0 10px;
	width: calc(100% - 160px);
}
.items input[type="submit"]{
	background: #27ccc0;
	border: 1px solid #27ccc0;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding: 0 30px;
	float: right;
}
.items input[type="button"]{
	float: right;
	border: 1px solid #ff305a;
	background: transparent;
	padding: 0 26px;
	color: #ff305a;
	height: 34px;
	line-height: 34px;
	margin: 9px 0 0 0;
}
.items li{
	list-style-type: none;
	height: 55px;
	line-height: 55px;
	border-bottom: 1px solid #f2f2f2;
}
.items li:first-child{
	margin-top: 10px;
}
.items li a{
	color: #2b2f3e;
	font-weight: 600;
	font-size: 16px;
	text-transform: capitalize;
	height: 100%;
	display: inline-block;
	width: calc(100% - 100px);
}
.com_number{
	background: #27ccc0;
	border-radius: 10px;
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
    display: inline-block;
    color: #fff;
    margin-left: 30px;
    font-size: 13px;
    font-weight: 700;
}
.heading{
	font-size: 36px;
	color: #565a69;
	font-weight: 300;
	margin-top: 10px;
}

.active{
	position: relative;
}
.active:before{
	content: '';
	position: absolute;
	background: #ff2f5a;
	display: inline-block;
	left: -32px;
	top: 0;
	width: 5px;
	height: 100%;
}
.comments{
	padding: 0px 20px 15px 20px;
	width: calc(48% - 100px);
	margin: 20px 0;
}
.comments .heading{
	margin-bottom: 17px;
}
.comments p{
	font-size: 12px;
	color: #666;
	display: inline-block;
	width: calc(100% - 70px);
	vertical-align: top;
	margin-left: 10px;
	text-transform: capitalize;
}
.userpic{
	height: 52px;
	width: 52px;
	display: inline-block;
	vertical-align: top;
}
.comment{
	padding: 18px 0 22px 0;
	border-bottom: 1px solid #f2f2f2;
}
.comment:first-child{
	background: red;
}
.comment:nth-child(odd) .userpic{
	background: #47568c;
}
.comment:nth-child(even) .userpic{
	background: #ff8a00;
}
.comment_form{
	margin: 15px 0 0 0;
}
.comment_form .userpic{
	background: #e6e6e6;
}
.comment_form textarea{
	height: 70px;
	margin-left: 10px;
	width: calc(100% - 89px);
	padding: 10px;
}

